#education img{
    max-width: auto;
    height: auto;
    display:block; 
}

#education{
    margin: 0px 0px 20px 0px;
}


#title{
    margin: 0px 0px 10px;

}

#title img{
	height: 40vh;
	border-radius: 20px;
	mix-blend-mode: multiply;
}

#title h1{
	font-size: 30px;
}

.university{
    grid-column:2;
    grid-row: 1/2;
}

.college{
    grid-column: 3 ;
    grid-row: 1/2;
}

@font-face {
    font-family: postoffice;
    src: url(./fonts/POSTOFFICE.ttf);
}

@font-face {
    font-family: collegiate;
    src: url(./fonts/CollegiateBlackFLF.ttf);
}


.navbar{
	background: linear-gradient(to bottom, #e44101, #0940f3);
	font-weight: bold;
	font-family: collegiate;
}

.navbar-nav{
    gap: 70px;
}

@font-face {
    font-family: Barlock;
    src: url(./fonts/StitchSchool.ttf);
}

@font-face {
    font-family: Varsity ;
    src: url(./fonts/CollegiateBorderFLF.ttf);
}

@font-face {
    font-family: Varsity ;
    src: url(./fonts/CollegiateInsideFLF.ttf);
}

.display-5{
	font-family: Varsity;
}
  
.nav-link{
	font-size: 25px;
}

#education .card{
    width: 40%;
    margin: 0px;
    box-shadow: 100px 100px 120px rgb(128, 34, 34);
    overflow: hidden;
}

#education .card-title{
    font-size: 29px;
}

#skills .card-title{
	color: oldlace;
	font-family: Varsity;
}

#education .card-text{
    font-size: 20px;
}

#education #greencard{
    box-shadow: 100px 100px 120px rgb(155, 178, 6);
 
}

#skills span{
    display: inline-block;

	
}

#skills .badge{
    gap:4px;
    font-size: 14px;
	background: linear-gradient(to bottom, #041652, hsla(244, 89%, 4%, 0.702));
	align-items: center;
}

#skills .card-title{
    text-align: center;
}

#skills .card{
	background: linear-gradient(to bottom, #041652, hsla(244, 89%, 4%, 0.702));
	border-width: 2.5px;

}

body{
    background-color: black ;
    font-family: poppins;
    overflow-x:hidden;
}

#projects .wrapper {
	position: relative;
	padding: 50px 0;
}
.carousel-control.left, .carousel-control.right {
	background: transparent;
}

.imgBox {
	width: 100px;
	height: 100px;
	margin: auto;
	border: 5px dashed #262626;
	border-radius: 50%;
	overflow: hidden;
}

.imgBox img {
	width: 100%;
}
.carousel-inner {
	background: aliceblue;
	padding: 35px;
	border-radius: 25px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
.carousel-caption {
	position: static;
	padding-bottom: 15px;
	padding-top: 0;
}
.carousel-caption h3 {
	font-size: 50px;
	margin-bottom: 15px;
	margin-top: 25px;
	font-family: 'Allura', cursive;
	color: #262626;
	text-shadow: none;
}
.carousel-caption h4 {
	color: #2b2626;
	text-shadow: none;
}
.carousel-caption p {
	font-size: 18px;
	margin: auto;
	width: 70%;
	margin-bottom: 10px;
	font-family: 'Teko', sans-serif;
	font-weight: 300;
	letter-spacing: 2px;
	text-shadow: none;
	color: #2b2626;
}
.carousel-indicators li {
	background-color: #ddd;
	width: 50px;
}
.carousel-control {
	color: #2b2626;
}
.carousel-indicators .active {
	background-color: #2b2626;
	width: 20px
}
.carousel-indicators {
	bottom: 10px;
}


section #education {
    background-color: black;
    top:auto;

}

section #skills {
	background: linear-gradient(to bottom, #041652, hsla(244, 89%, 4%, 0.702));
	top:auto;
	height: 100%;
	width:100%;
    
}
section #title {
    background: linear-gradient(to bottom, #0940f3, #e44101);
    top:auto;
    height: 94vh;
}

#title .row{
    height: 90vh;
}


section #projects{
	background: linear-gradient(to bottom, #041652, hsla(244, 89%, 4%, 0.702));
	background: linear-gradient(to bottom, hsla(244, 89%, 4%, 0.702),#041652);
    top:auto;
	
}


.icon-area {
	display: flex;
}
.icon-area .icon a {
	width: 80px;
	height: 80px;
	background: #fff;
	font-size: 40px;
	margin: 0 15px;
	display: block;
	line-height: 80px;
	text-align: center;
	border-radius: 5px;
	position: relative;
	border: 6px solid #fff;
	border-radius: 50px;
	overflow: hidden;
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}

.icon-area .icon a i {
	position: relative;
	color: #262626;
	transition: 1s;
}
.icon-area .icon a:hover i {
	transform: rotateY(360deg);
	color: #fff;
}
.icon-area .icon a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, #09d3f3, #0159e4);
	left: 0;
	top: 100%;
	transition: 1.5s;
}
.icon-area .icon a:hover:before {
	top: 0;
}

#skills .card-form{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    gap: 5px;
	color: white;
}

.icon-color{
	color:rgb(11, 110, 143);
	padding-top: 4px;
}

#skills .row{
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
}

.timeline-page:after {
    position: absolute;
    content: "";
    left: 0;
    right: -1px;
    top: 0px;
    width: 1px;
    height: 100%;
    margin: auto;
    border-right: 2px dashed #dee2e6 !important;
}


.timeline-page .timeline-item .date-label-left:after,
.timeline-page .timeline-item .date-label-left:before,
.timeline-page .timeline-item .duration-right:after,
.timeline-page .timeline-item .duration-right:before {
    position: absolute;
    content: "";
    border-radius: 50%;
    z-index: 1;
}
.timeline-page .timeline-item .date-label-left:after,
.timeline-page .timeline-item .duration-right:after {
    top: 9px;
    width: 10px;
    height: 10px;
    background-color: #2a52c3;
}
.timeline-page .timeline-item .date-label-left:before,
.timeline-page .timeline-item .duration-right:before {
    border: 2px dashed #dee2e6;
    top: 0;
    width: 28px;
    height: 28px;
    background-color: #fff;
}
.timeline-page .timeline-item .date-label-left {
    float: right;
    margin-right: 24px;
}
.timeline-page .timeline-item .date-label-left:after {
    right: -41px;
}
.timeline-page .timeline-item .date-label-left:before {
    right: -50px;
}
.timeline-page .timeline-item .duration-right {
    float: left;
    margin-left: 24px;
}
.timeline-page .timeline-item .duration-right:after {
    left: -41px;
}
.timeline-page .timeline-item .duration-right:before {
    left: -50px;
}
.timeline-page .timeline-item .event {
    transition: all 0.2s ease;
}
.timeline-page .timeline-item .event .title {
    font-weight: 500;
    transition: all 0.2s ease;
}
.timeline-page .timeline-item .event.event-description-right {
    text-align: left;
    margin-left: 24px;
}
.timeline-page .timeline-item .event.event-description-left {
    text-align: right;
    margin-right: 24px;
}
@media (max-width: 575px) {
    .timeline-page {
        margin-left: 18px;
    }
    .timeline-page:after {
        margin: 0;
    }
    .timeline-page .timeline-item .duration {
        float: left !important;
        margin-left: 30px !important;
        margin-right: auto !important;
        text-align: left !important;
    }
    .timeline-page .timeline-item .duration:after {
        left: -34px !important;
    }
    .timeline-page .timeline-item .duration:before {
        left: -42px !important;
    }
    .timeline-page .timeline-item .duration .event {
        text-align: left !important;
        margin-left: 15px;
    }
    .timeline-page .timeline-item .event.event-description-left,
    .timeline-page .timeline-item .event.event-description-right {
        text-align: left !important;
        margin: 0 0 0 30px !important;
    }
}

.timeline-page .timeline-item .date-label-left:after {
    background-color: #f89d36 !important;
}

.avatar.avatar-ex-small {
    height: 30px;
    width: 30px;
}
.rounded-pill {
    border-radius: 50rem!important;
}

@font-face {
    font-family: Stitch;
    src: url(./fonts/POSTOFFICE.ttf);
}
#experience{
	color: white;
	font-family: Stitch;
	height:100%;
	width:100%;
	padding: 30px;

}

#experience .title{
	font-family: Varsity;
}
p .timeline-subtitle{
	color:wheat;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text-muted{
	color: #fff;

}

#contactme{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;

}

#desk{
	height:120px;
	width: 150px;
}

.greencard{
    box-shadow: 100px 100px 120px rgb(89, 195, 32);
}